@model Elo_fotbalek.Models.Match

@{
    ViewData["Title"] = "GenerateTeams";
}

<h2>Zadej účastníky</h2>

<h4>Účastníci</h4>
<hr />
<form asp-action="GenerateTeamsResult">
    <div class="form-group col-md-3">
        <label asp-for="Season" class="control-label">Sezóna</label>
        <select asp-for="Season" class="form-control">
            <option value="Summer">Léto</option>
            <option value="Winter">Zima</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group col-md-4">
        <label for="player" class="control-label">Hráč</label>
        <select name="player" asp-items=@(ViewData["Players"] as SelectList)></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Doporuč sestavy" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Zpět</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
