################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj
/Elo-fotbalek/appsettings.Development.json
/Elo-fotbalek/bin
/Elo-fotbalek/Properties/
/Elo-Fotbalek-Test/bin/**
