/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background-size: 100%;
    transition: background-image 0.5s ease;
}

.opacity-card {
    background-color: rgba(245, 245, 245, 1);
    opacity: .8;
}

.opacity-card:hover {
    opacity: 1.0;
}

.doodle-cell-current {
    border: 2px solid green;
    justify-content: center;
}

.accept {
    background-color: green;
}

.maybe {
    background-color: yellow;
}

.refused {
    background-color: red;
}

.doodle-cell:hover {
    cursor: pointer;
}

.doodle-cell-current:hover {
    cursor: pointer;
}

.opacity-table {
    background-color: rgba(245, 245, 245, 1);
    opacity: .8;
}

.opacity-table:hover {
    opacity: 1.0;
}

.opacity-table-header {
    background-color: transparent
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
