

<ul id="LogOut" class="nav navbar-nav navbar-right">
    <li><a class="nav-link" asp-controller="Admin" asp-action="LogOut">Odhlásit se</a></li>
</ul>


<ul id="LogIn" class="nav navbar-nav navbar-right">
    <li><a class="nav-link" asp-controller="Admin" asp-action="Login">Přihlásit se</a></li>
</ul>

